.menuBody {
    margin: 0;
    padding: 0;
    overflow: auto;
    /* Prevent scrollbars */
    background-image: url('../images/backgrounds/svgs/main_menu.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50 50;
    font-family: monospace;
}

.gameBody {
    margin: 0;
    padding: 0;
    font-family: monospace;
    background: rgb(34, 195, 125);
    background: linear-gradient(90deg, rgba(34, 195, 125, 1) 0%, rgba(253, 187, 45, 1) 100%);
    overflow: hidden;
}

.no-border {
    border: none !important;
    box-shadow: none !important;
}

.full-height {
    height: 100vh;
}

#p5_loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2em;
    color: #313b72;
}

.gameBody {
    background-color: #c3f3c0 !important;
}

.btn-custom {
    background-color: #313b72 !important;
    border-color: #313b72 !important;
    color: #c3f3c0 !important;
}

.btn-custom:hover {
    box-shadow: 0 0.3rem 0.8rem -0.1rem rgba(0, 0, 0, 1);
    transform: translateY(-0.05rem);
}

.main-menu-header {
    font-size: 2em;
    color: #c3f3c0;
    background-color: #313b72;
}

.heading-custom {
    color: #313b72;
    font-weight: bold;
}

.gradient {
    background: rgb(49, 59, 114);
    background: linear-gradient(180deg, rgba(49, 59, 114, 1) 0%, rgba(49, 59, 114, 0) 100%);
    height: 0.4rem;
}

.modal-content {
    background-color: #7ee081 !important;
    color: #313b72 !important;
    font-weight: bold !important;
    border: #313b72 solid 0.4rem !important;
}

@media print {
    p.bodyText {
        font-family: monospace, times, serif;
        font-size: 10pt;
        color: black;
    }
}
/* pallete:  
    462255
    313B72 
    62A87C
    7EE081
    C3F3C0 */
