.menuBody {
    margin: 0;
    padding: 0;
    overflow: hidden; /* Prevent scrollbars */
    background-image: url('../images/backgrounds/svgs/main_menu.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: monospace;
}

.gameBody {
    margin: 0;
    padding: 0;
}
