.menuBody {
    margin: 0;
    padding: 0;
    overflow: hidden; /* Prevent scrollbars */
    background-image: url('../images/backgrounds/svgs/main_menu.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: monospace;
}

.gameBody {
    margin: 0;
    padding: 0;
}

#p5_loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2em;
    color: red;
}
